<section class="carousel">
    <div class="owl-carousel  owl-theme" id="slide1">
        <div class="item">
            <!-- <img class="imageslide img-responsive" src="../assets/img/slide1.jpg" alt="slide1"> -->
            <h1>VOTRE <span> POMPE A CHALEUR 91 </span> : <br> 
                UN INVESTISSEMENT DURABLE ET QUALITATIF</h1>
        </div>
        <div class="item2">
            <h1>VOTRE <span> POMPE A CHALEUR 91 </span> : <br> 
                UN INVESTISSEMENT DURABLE ET QUALITATIF</h1>
        </div>
    </div>
</section>
  