<section class="top" id="top">
    <div class="container">
        <div class="row wrap">
            <div class="col-sm-6" >
                <div class="row">
                    <div class="col-sm-6">
                        <p><i class="fas fa-phone-alt"></i> {{ site.data.company.phones[0] }}</p>
                    </div>
                    <div class="col-sm-6">
                        <p><i class="fas fa-envelope"></i> {{ site.data.company.emails[0] }}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <p class="text-right"><a href="% link devis.html %}" class="button btn"  >Devis Gratuit</a></p>
            </div>
        </div>
    </div>
</section>