<!doctype html>
<html>

{% include head.html %}

<body>
  <div class="fixphone">
    <div class="elfsight-app-f28431b5-7869-4fc5-85ef-f868f3419ac9 two"></div>
    <a href="tel:{{ site.data.company.phones[1] }}" class="button one"><i class="fas fa-phone-alt"></i> {{ site.data.company.phones[0] }}</a>
  </div>
  {% include top.html %}
  {% include navbar.html %}

  {% if page.url == '/' %}
  {% include slider.html %}
  {% endif %}

  <section class="body">
    {{ content }}
  </section>

  {% include footer.html %}
</body>

</html>
