---
---

// Imports
@import "bootstrap";

.dropdown.active {
  a.dropdown-item {
    color: $body-color !important;
    &.active {
      color: $white !important;
    }
  }
}

$red: #bd2e2b;
$blue: #244064;

// h2{
//   text-align: center;
//   @media (max-width: 960px) {
//     font-size: 2rem;
//    }
// }
// h1{
//   text-align: center;
//   @media (max-width: 960px) {
//     font-size: 2rem;
//    }
// }

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
.sub-heading {
  text-align: center;
  font-size: 1.7rem;
  @media (max-width: 600px) {
    font-size: 1.4rem;
  }
}
.top {
  padding-top: 10px;
  padding-bottom: 2px;
}
#top .btn {
  border-radius: 15px;
  font-weight: 500;
  @media (max-width: 600px) {
    display: none;
  }
}
#top .wrap {
  display: flex;
  align-items: center;
}
.button {
  padding: 15px 25px;
  border-radius: 0;
  color: #fff;
  background-color: $red;
  display: inline-block;
  border: unset;
}
.button:hover {
  background-color: $blue;
  color: #fff;
  text-decoration: unset;
}
.top p i {
  color: $red;
}
.menu {
  background-color: #eee;
  // height: fit-content;
}
.menu .logo {
  width: 4rem;
}
.nav-item .btn-menu {
  display: none;
  @media (max-width: 600px) {
    display: block;
  }
}
.logo img {
  height: 80px;
}
.navbar-light .navbar-nav .nav-link {
  font-size: 14px;
}
.fixphone {
  position: fixed;
  z-index: 999;
  right: 20px;
  bottom: 4px;
}
.footer h2 {
  font-size: 20px;
  font-weight: bold;
}
.carousel .item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  background: url("../img/slide1.jpg");
  background-position: center;
  background-size: cover;
  h1 {
    max-width: 900px;
    span {
      color: $red;
      font-weight: 700;
    }
    @media (max-width: 960px) {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      font-size: 1.5rem;
      margin-top: 2rem;
    }
  }
}
.carousel .item2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  background: url("../img/slide2.jpg");
  background-position: center;
  background-size: cover;
  h1 {
    max-width: 900px;
    span {
      color: $red;
      font-weight: 700;
    }
    @media (max-width: 960px) {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      font-size: 1.5rem;
      margin-top: 2rem;
    }
  }
}
.carousel .item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.owl-prev {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: #111;
  border: 1px solid #111 !important;
  border-radius: 50% !important;
  @media (max-width: 500px) {
    display: none !important;
  }
}
.owl-next {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: #111;
  border: 1px solid #111 !important;
  border-radius: 50% !important;
  @media (max-width: 500px) {
    display: none !important;
  }
}
.owl-theme .owl-nav [class*="owl-"]:hover {
  background: $blue;
  color: #fff;
  text-decoration: none;
}

section h2 {
  font-size: 42px;
  line-height: 52px;
  font-weight: 700;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 20px;
}
section h2 span {
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 600;
  display: block;
  color: $red;
}
section {
  padding: 60px 0px;
}
.box1 {
  position: relative;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
  padding: 30px;
  height: 20rem;
  @media (max-width: 960px) {
    height: fit-content;
  }
  margin-bottom: 30px;
}
section h3 {
  font-size: 20px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: rgb(17, 17, 17);
}
section p,
section li {
  color: rgb(126, 126, 126);
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
.icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: $blue;
  text-align: center;
  line-height: 70px;
  margin-bottom: 30px;
}
.icon i {
  color: #fff;
  font-size: 30px;
}
.box-img1 {
  height: 300px;
  margin-bottom: 30px;
}
.cover-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
section.carousel {
  padding: 0px;
}
.bg-blue {
  background-color: $blue;
  text-align: center;
}
.bg-blue h2 {
  color: #fff;
}
.bg-white {
  background-color: #fff;
}
.phone {
  color: $red;
  font-size: 40px;
  letter-spacing: 2px;
}
.phone:hover {
  color: #fff;
  text-decoration: unset;
}
i.nbr {
  font-size: 35px;
  color: #fff;
}
.box-img2 {
  height: 300px;
  margin-bottom: 30px;
  position: relative;
}
.box-img2::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
.fixed-img {
  background-image: url(../img/image1.jpg);
  background-attachment: fixed;
  height: 500px;
  background-size: cover;
  background-position: right;
}
.icon1 i {
  font-size: 60px;
  color: #111;
}
.avis p {
  color: #fff;
}
.posr {
  position: relative;
}
.center-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.pad30 {
  padding: 60px 0px;
}
section.body {
  padding: 0px;
}
.noPadding {
  padding: 0px;
}
section.slider {
  padding: 150px 0px;
  background-size: cover;
  background-position: center;
  position: relative;
}
section.slider::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
section.slider h1 {
  color: $red;
  font-size: 50px;
  text-align: center;
}
section.slide1 {
  background-image: url(../img/slider1.jpg);
  background-size: cover;
}
// ul.list
// {
//   padding: 0px;
//   margin: 0px;
// }
ul.list li {
  list-style: none;
  position: relative;
}
ul.list li::before {
  content: "\f141";
  font-family: flaticon !important;
  position: absolute;
  left: -25px;
  color: $red;
}
.form-control {
  border-radius: 0;
  border: none;
  background-color: #eee;
}
.call-number a {
  font-size: 50px;
  color: $blue;
}
.call-number a:hover {
  color: $red;
  text-decoration: unset;
}
.infos p i {
  color: $blue;
  font-size: 50px;
  position: relative;
  top: 7px;
}
.infos p {
  font-size: 22px;
}
.footer {
  background-color: #eee;
}

.nav-top {
  .container {
    .row {
      .btn-wrap {
        background-color: red;
        .btn {
          background-color: red;
        }
      }
    }
  }
}

// Home
#one p {
  font-size: 11px;
  max-width: 1000px;
}
#two img {
  width: 25rem;
  height: 25rem;
  object-fit: cover;
  margin-left: 8rem;
  @media (max-width: 960px) {
    margin-left: 0rem;
  }
  @media (max-width: 460px) {
    width: 20rem;
    height: 20rem;
  }
}
#three h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
#three h2 {
  padding: 0;
  font-size: 1.2rem;
}
#four {
  .col-sm-4 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  img {
    height: 16rem;
    width: 18rem;
    margin-bottom: 3rem;
  }
}
#five {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h2 {
    text-align: center;
    color: #bd2e2b;
    padding: 0.1rem;
  }
  p {
    text-align: center;
    padding: 0.1rem;
  }
  span {
    font-weight: 700;
  }
  .btn {
    border-radius: 15px;
    margin-bottom: 1.5rem;
  }
}
#six {
  display: flex;
  align-items: flex-start;
  @media (max-width: 960px) {
    flex-direction: column;
    padding: 0;
  }
  img {
    width: 37rem;
    object-fit: cover;
    @media (max-width: 960px) {
      width: 22rem;
      margin-bottom: 2rem;
    }
  }
  .box1 {
    width: 15rem;
    height: 15rem;
  }
  .wrap {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -5rem;
    @media (max-width: 960px) {
      margin-left: 0rem;
      width: 100%;
    }
    p {
      font-size: 0.6rem;
    }
    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3.5rem;
      height: 3.5rem;
      margin-bottom: 0.4rem;
    }
    h3 {
      font-size: 1.1rem;
    }
    .four {
      background-color: rgb(241, 187, 86);
    }
    .one {
      background-color: rgb(166, 166, 226);
    }
    .two {
      background-color: greenyellow;
    }
    .three {
      background-color: pink;
    }
  }
}
#seven {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/pompe.jpg);
  background-size: cover;
  background-position: center;
  h2 {
    text-align: center;
    color: white;
    padding: 0.1rem;
  }
  p {
    text-align: center;
    padding: 0.1rem;
    color: white;
  }
  span {
    font-weight: 700;
  }
  .btn {
    border-radius: 15px;
    margin-bottom: 1.5rem;
  }
}
#eight {
  display: flex;
  align-items: flex-start;
  @media (max-width: 960px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .text-wrap {
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    @media (max-width: 960px) {
      width: 100%;
      align-items: center;
      justify-content: center;
    }
    p {
      margin-left: 10rem;
      @media (max-width: 960px) {
        margin-left: 0rem;
      }
    }
    .bold {
      font-weight: 900;
      color: $red;
      text-transform: uppercase;
    }
    .para {
      font-weight: 500;
    }
  }
  img {
    width: 35rem;
    @media (max-width: 1098px) {
      width: 32rem;
    }
    @media (max-width: 960px) {
      width: 21rem;
    }
  }
  .div {
    height: 30vh;
    width: 3rem;
    background-color: $red;
    margin-top: 4rem;
    @media (max-width: 960px) {
      display: none;
    }
  }
}
#nine {
  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    p {
      text-align: center;
    }
  }
  .row {
    position: relative;
    h2 {
      position: absolute;
      left: 0;
      top: 40%;
      z-index: 3;
      font-weight: 500;
      @media (max-width: 960px) {
        top: 20%;
        font-size: 1.4rem;
        left: 1rem;
      }
    }
  }
  .posr {
    background-color: $red;
  }
  img {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
  }
  h4 {
    color: white;
  }
}
#ten {
  img {
    width: 2rem;
  }
  h2 {
    margin-left: 3rem;
    @media (max-width: 960px) {
      font-size: 2rem;
      margin-left: 1rem;
    }
  }
  p {
    margin-left: 3rem;
    max-width: 1000px;
    padding: 0.1rem;
    @media (max-width: 960px) {
      margin-left: 1rem;
    }
    span {
      font-weight: 600;
      color: black;
    }
  }
}
.about-one {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  margin-top: 3rem;
  .img-wrap {
    width: 50%;
    @media (max-width: 960px) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .img-index {
      z-index: -2;
    }
    img {
      width: 26rem;
      height: 23rem;
      object-fit: cover;
      margin-left: 3rem;
      box-shadow: -2px 2px 24px 4px rgba(0, 0, 0, 0.38);
      -webkit-box-shadow: -2px 2px 24px 4px rgba(0, 0, 0, 0.38);
      -moz-box-shadow: -2px 2px 24px 4px rgba(0, 0, 0, 0.38);
      @media (max-width: 960px) {
        width: 20rem;
        height: 18rem;
        margin-left: 0rem;
        margin-bottom: 2rem;
      }
    }
  }
  .neg {
    margin-top: -1.2rem;
    z-index: -2;
  }
  .index {
    z-index: -3;
  }
  h2 {
    font-size: 1.5rem;
    margin: 0;
    line-height: 1.5;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      left: 0;
      bottom: -0.15rem;
      height: 3px;
      width: 20%;
      background-color: $red;
    }
  }
  h1 {
    text-align: center;
    width: 100%;
    margin-bottom: 2rem;
    margin-top: 4rem;
  }
  .content-wrap {
    display: flex;
    align-items: flex-start;
    @media (max-width: 960px) {
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .text-wrap {
      width: 50%;
      margin-left: -4.5rem;
      @media (max-width: 1020px) {
        margin-left: 0;
        width: 85%;
      }
      p {
        max-width: 800px;
        text-align: justify;
        margin-top: 0.5rem;
        @media (max-width: 1020px) {
          max-width: 600px;
        }
        @media (max-width: 960px) {
          margin-bottom: 3rem;
          max-width: 700px;
        }
      }
    }
  }
}
.about-two {
  width: 100vw;
  display: flex;
  margin-top: 4rem;
  @media (max-width: 960px) {
    margin-bottom: 10rem;
  }
  .content-wrap {
    display: flex;
    align-items: flex-start;
    width: 100%;
    @media (max-width: 960px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .text-wrap {
      width: 50%;
      display: flex;
      flex-direction: column;
      @media (max-width: 960px) {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
      h2 {
        font-size: 1.5rem;
        margin: 0;
        position: relative;
        margin-left: 5rem;
        line-height: 1.5;
        @media (max-width: 960px) {
          margin-left: 0rem;
        }
        &::before {
          position: absolute;
          content: "";
          left: 0;
          bottom: -0.15rem;
          height: 3px;
          width: 20%;
          background-color: $red;
        }
      }
      p {
        max-width: 500px;
        text-align: justify;
        margin-left: 5rem;
        margin-top: 0.5rem;
        @media (max-width: 1020px) {
          max-width: 600px;
        }
        @media (max-width: 960px) {
          max-width: 700px;
          margin-left: 0rem;
        }
      }
      .image-wrap {
        display: flex;
        align-items: center;
        margin-left: 5rem;
        @media (max-width: 960px) {
          margin-left: 0rem;
        }
        .logo1 {
          width: 7rem;
          margin-right: 2rem;
        }
        .logo2 {
          width: 19rem;
          height: 19rem;
          object-fit: cover;
          margin-bottom: 2rem;
          @media (max-width: 960px) {
            width: 12rem;
            height: 12rem;
            margin-bottom: 0rem;
          }
        }
        @media (max-width: 960px) {
          margin-bottom: 20rem;
        }
      }
    }
    .img-wrap {
      width: 45%;
      position: relative;
      margin-left: 1rem;
      @media (max-width: 1216px) {
        margin-left: 4rem;
      }
      @media (max-width: 960px) {
        width: 70%;
        margin-left: 0rem;
      }
      img {
        width: 20rem;
        height: 30rem;
        object-fit: cover;
        margin-left: 3rem;
        @media (max-width: 960px) {
          width: 15rem;
        }
      }
      .div {
        position: absolute;
        height: 20rem;
        width: 15rem;
        background-color: $blue;
        left: -2rem;
        bottom: -6rem;
        z-index: -1;
        @media (max-width: 960px) {
          width: 10rem;
        }
      }
      .content {
        position: absolute;
        // display: flex;
        // align-items: center;
        // justify-content: center;
        height: 20rem;
        width: 19rem;
        background-color: $blue;
        right: 10rem;
        top: -17rem;
        z-index: -1;
        background-color: rgb(214, 212, 212);
        p {
          max-width: 400px;
          margin-top: 3rem;
          padding: 1.4rem;
          position: relative;
          &::before {
            position: absolute;
            content: "";
            left: 1.3rem;
            top: -0.15rem;
            height: 3px;
            width: 20%;
            background-color: $red;
          }
          @media (max-width: 960px) {
            font-size: 0.8rem;
          }
        }
        @media (max-width: 960px) {
          right: 1rem;
          width: 15rem;
        }
      }
    }
  }
}
.about-three {
  display: flex;
  width: 100vw;
  margin-top: 2rem;
  .content-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    &::before {
      position: absolute;
      content: "CHIFFRES OLES";
      font-size: 8.2rem;
      font-weight: 900;
      letter-spacing: 16px;
      z-index: -1;
      color: rgba(0, 0, 0, 0.03);
      @media (max-width: 1245px) {
        font-size: 7rem;
      }
      @media (max-width: 1009px) {
        display: none;
      }
    }
    .content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .num {
        font-size: 4rem;
        font-weight: 900;
      }
      p {
        text-transform: uppercase;
        letter-spacing: -0.8px;
        font-weight: 500;
        color: $red;
        margin-top: -1rem;
      }
    }
  }
}
.about-four {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 4rem;
  background: linear-gradient(to top, rgb(36, 64, 100), rgb(255, 255, 255));
  h2 {
    margin-top: 2rem;
    position: relative;
    text-align: center;
    &::before {
      position: absolute;
      content: "";
      left: 35%;
      top: -0.15rem;
      height: 3px;
      width: 30%;
      background-color: $red;
    }
  }
  .content-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    .content {
      display: flex;
      flex-direction: column;
      width: 35rem;
      height: 25rem;
      background: rgba(255, 255, 255, 0.4);
      margin: 0 1rem;
      margin-bottom: 1rem;
      padding: 3rem 1.5rem;
      @media (max-width: 960px) {
        height: 29rem;
      }
      .text-wrap {
        display: flex;
        align-items: center;
        .num {
          font-size: 4rem;
          margin-right: 1rem;
          color: $red;
        }
        h3 {
          max-width: 250px;
          font-size: 1.1rem;
        }
      }
      p {
        color: black;
      }
    }
  }
}
.about-five {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 4rem;
  p {
    text-align: center;
    max-width: 900px;
  }
  img {
    width: 65%;
    z-index: -1;
    margin-top: -10rem;
    margin-bottom: -8rem;
    @media (max-width: 900px) {
      margin-top: -7rem;
    }
    @media (max-width: 758px) {
      margin-top: -0rem;
      margin-bottom: -0rem;
      height: 10rem;
      width: 15rem;
      object-fit: cover;
    }
    @media (max-width: 758px) {
      width: 13rem;
    }
  }
}

// climate
.sec-one {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 100vw;
  &::before {
    position: absolute;
    content: "";
    bottom: -2rem;
    width: 100%;
    height: 50vh;
    background: $blue;
    z-index: -1;
  }
  h2 {
    text-align: center;
    @media (max-width: 960px) {
      font-size: 2rem;
    }
  }
  h3 {
    text-align: center;
    @media (max-width: 960px) {
      font-size: 2rem;
    }
  }
  .content-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    .content {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 18rem;
      height: 25rem;
      background: white;
      box-shadow: -2px 2px 4px 4px rgba(0, 0, 0, 0.2);
      margin: 0 1rem;
      @media (max-width: 960px) {
        margin-bottom: 2rem;
      }
      .wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .logo-wrap {
          width: 3.6rem;
          height: 3.6rem;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          background: #c8d8ec;
          margin-bottom: 1rem;
          img {
            width: 2rem;
          }
        }
        p {
          text-align: center;
          font-size: 0.8rem;
          max-width: 250px;
        }
      }
    }
  }
}

.content-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18rem;
    height: 25rem;
    background: white;
    box-shadow: -2px 2px 4px 4px rgba(0, 0, 0, 0.2);
    margin: 0 1rem;
    .wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .logo-wrap {
        width: 3.6rem;
        height: 3.6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: #c8d8ec;
        margin-bottom: 1rem;
        img {
          width: 2rem;
        }
      }
      p {
        text-align: center;
        font-size: 0.8rem;
        max-width: 250px;
      }
    }
  }
  a {
    border-radius: 10px;
    margin-top: 4rem;
    @media (max-width: 960px) {
      margin-bottom: 2rem;
      display: none;
    }
  }
}

.sec-two {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  margin-top: 5rem;
  h2 {
    text-align: center;
  }
  .content-wrap {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    p {
      max-width: 500px;
      text-align: justify;
      margin: 1rem 1rem;
    }
  }
}

.sec-three {
  display: flex;
  width: 100vw;
  margin-top: 3rem;
  img {
    width: 100vw;
    height: 40vh;
    object-fit: cover;
  }
}

.sec-four {
  width: 100%;
  display: flex;
  margin-top: 4rem;
  .content-wrap {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    .left {
      width: 50%;
      @media (max-width: 960px) {
        width: 80%;
        margin-bottom: 2rem;
      }
      .wrap {
        margin-left: 4rem;
        @media (max-width: 960px) {
          margin-left: 0;
        }
        a {
          border-radius: 10px;
          align-self: center;
        }
      }
    }
    .right {
      width: 50%;
      display: flex;
      justify-content: center;
      @media (max-width: 960px) {
        width: 80%;
      }
      .wrap {
        background: $red;
        color: white;
        width: 25rem;
        padding: 1rem;
        h2 {
          font-size: 2rem;
        }
        .text {
          margin-bottom: 1rem;
          font-size: 0.8rem;
          color: rgba(255, 255, 255, 0.7);
        }
        p {
          color: white;
          i {
            margin-right: 1rem;
          }
        }
      }
    }
  }
}

.sec-five {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  margin-top: 6rem;
  h2 {
    text-align: center;
    width: 100%;
    margin-bottom: 3rem
  }
  .content-wrap {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    .left{
      width: 33%;
      display: flex;
      align-items: center;
      justify-content: center;
      @media (max-width: 960px) {
        width: 80%;
        margin-bottom: 2rem;
      }
      .wrap{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h3{
          text-align: center;
        }
        p{
          max-width: 300px;
          text-align: center;
        }
      }
    }
    .center{
      width: 33%;
      display: flex;
      align-items: center;
      justify-content: center;
      @media (max-width: 960px) {
        width: 80%;
        margin-bottom: 2rem;
      }
      .wrap{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h3{
          text-align: center;
        }
        p{
          max-width: 300px;
          text-align: center;
        }
        .img-wrap{
          img{
            margin-right: 2rem;
            width: 6rem;
          }
        }
      }
    }
    .right{
      width: 33%;
      display: flex;
      align-items: center;
      justify-content: center;
      @media (max-width: 960px) {
        width: 80%;
        margin-bottom: 2rem;
      }
      .wrap{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h3{
          text-align: center;
        }
        p{
          max-width: 300px;
          text-align: center;
        }
      }
    }
  }
}

.th-one{
  h3 {
    text-align: center;
    font-size: 1.2rem;
  }
}
